<footer class='navbar fixed-bottom'>
  <div class='container-fluid'>
    <a class='navbar-brand mx-auto' href='/'>Sitio desarrollado por Pedro Casabona | &#169derechos reservados 2022</a>
  </div>
</footer>