<div id='form' class='col-lg-5 col-md-7 col-7 col-sm-8 offset-md-4 offset-sm-3 mx-auto mb-3'>

  <h1 class='letra-k'>Formulario</h1>

  <div class='letra-k-l'>

    <div class='mb-3'>
      <label for='nombre' class='form-label'>Nombre</label>
      <input type='text' class='form-control' id='title' />
    </div>

    <label for='precio' class='form-label'>Precio</label>
    <div class='input-group mb-3'>
      <span class='input-group-text'>$</span>
      <input type='number' class='form-control' id='price' />
    </div>

    <div class='mb-3'>
      <label for='img' class='form-label'>Foto URL</label>
      <input type='text' class='form-control' id='thumbnail' />
    </div>

    <button type='button' onclick='agregarP()' class='btn btn-danger'>Agregar</button>
    <button type='button' onclick='agregarRandom()' class='btn btn-success'>Agregar 5 productos random</button>

  </div>

</div>