<nav class='navbar fixed-top navbar-expand-sm'>
  <div class='container-fluid'>
    <a class='navbar-brand letra-k' href='/'>
      <img src='/handlebars.png' alt='logo handlebars' width='28' height='28' class='d-inline-block align-text-center pb-1' />
      HANDLEBARS</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav letra-k-l'>
        <li class='nav-item'>
          <a class='nav-link active' href='/'>Inicio/Formulario</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' href='/#tablaProductos'>Tabla de productos</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' href='/#centroM'>Centro de mensajes</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' href='/info'>Informacion del proceso</a>
        </li>
      </ul>
    </div>
  </div>
</nav>