<nav class="navbar fixed-top navbar-expand-md">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img
				src="/images/graphql.png"
				alt="logo handlebars"
				width="28"
				height="28"
				class="d-inline-block align-text-center pb-1"
			/>
			GRAPHQL</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="/">Inicio/Productos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/administrar">Administración</a>
				</li>
			</ul>
		</div>
	</div>
</nav>