{{>navbar}}

<div class='container my-4 p-5'>
  <div class="bg-secondary p-4 rounded">
    <h1 class='text-center mb-4'>Binevenido/a</h1>
    <div class="text-center">
    <a class='btn btn-success me-4' href='/login'>Login</a>
    <a class='btn btn-success' href='/signup'>SignUp</a>
    </div>
    
  </div>
</div>

{{>footer}}