{{> navbar}}

<div class="container text-center my-4 p-5" id="inicio">
  <div class="bg-danger p-4 rounded">
    <h1>ERROR EN EL LOGIN</h1>
    <h2>{{error}}</h2>
  </div>
</div>
<script>
  setTimeout(() => { location.href = '/login' }, 2000)
</script>
{{> footer}}
