{{> navbar}}

<div class="container text-center my-4 p-5">
  <div class="bg-danger p-4 rounded" id="inicio">
    <h1>ERROR EN EL SIGN UP</h1>
    <h2>{{error}}</h2>
  </div>
</div>
<script>
  setTimeout(() => { location.href = '/signup' }, 2000)
</script>
{{> footer}}
