{{>navbar}}
<div class='container my-4 p-5'>
  <div class="bg-secondary  mx-auto px-5 py-4 rounded col-6">
    <h1 class='text-center'>Signup de Usuario</h1>
    <form action='/signup' method='post' autocomplete="off"  class="form-items-width mx-auto">
        <div class='mb-3 '>
          <label for='mail' class="fst-italic">Ingrese su nuevo mail:</label>
          <input id='mail'  class='form-control' type='email' name='username' placeholder="ejemplo123@mail.com"  required />
        </div>
        <div class="mb-3 ">
          <label for='contraseña' class="fst-italic">Ingrese su nueva contraseña:</label>
          <input id='contraseña'  class='form-control' type='password' name='password' placeholder="contraseña"  required />
        </div>
        <div class="mb-3 ">
          <label for='usuario' class="fst-italic">Ingrese su nombre de usuario:</label>
          <input id='usuario' class='form-control' type='text' name='usuario' placeholder="usuario123" required />
        </div>
        <div class="mb-3 ">
          <label for='edad' class="fst-italic">Ingrese su edad:</label>
          <input id='edad' class='form-control' type='number' name='edad' required />
        </div>
        <div class="mb-3 ">
          <label for='direccion' class="fst-italic">Ingrese su dirección:</label>
          <input id='direccion' class='form-control' type='text' name='direccion' placeholder="calle11 3500" required />
        </div>
        <label for='telefono' class="fst-italic">Ingrese su teléfono:</label>
        <div class="input-group mb-3">
          <span class="input-group-text">Prefijo(sin +) y telefono</span>
          <input id="prefijo" type="number" name="prefijo" placeholder="+999" class="form-control">
          <input id="telefono" type="number" name="telefono" placeholder="1234567890" class="form-control">
        </div>
        <div class="mb-3 ">
        <label for='avatar' class="fst-italic">Ingrese su foto/avatar:</label>
        <input id='avatar' class='form-control' type='text' name='avatar' placeholder="URL" required />
        </div>
        
      <button class='btn btn-success mt-4'>Enviar</button>
    </form>
    <div class="text-end">
    <a class='btn btn-success' href='/login'>Login</a>
    </div>
  </div>
</div>

{{>footer}}