{{>navbar}}
<div class=' container my-4 p-5'>
  <div class=' fs-2 fw-bold bg-info p-4 rounded'>Hasta luego, {{nombre}} </div>
</div>
<script>
  setTimeout(() => { location.href = '/' }, 2000)
</script>

{{>footer}}